/* Heading */
#portfolio h2{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 transform:translatex(0px) translatey(0px);
}

/* Link */
.navbar-nav .nav-item a{
 transform:translatex(0px) translatey(0px);
}

/* Heading */
#portfolio h3{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

/* Paragraph */
.masthead .textlanding p{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 font-size:17px !important;
 font-style:normal;
 font-weight:600;
}

/* Paragraph */
#description .text-lg-left p{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 font-weight:500;
}

/* Image */
#description img{
 border-bottom-left-radius:50px;
 border-top-right-radius:50px;
 border-top-left-radius:50px;
 border-bottom-right-radius:50px;
}

/* Button */
.text-lg-left .mt-4 .text-uppercase{
 transform:translatex(0px) translatey(0px);
 border-width:1px;
 border-bottom-left-radius:25px;
 border-top-right-radius:25px;
 border-top-left-radius:25px;
 border-bottom-right-radius:25px;
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

/* Paragraph */
#blog p{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace !important;
}

/* Button */
#blog a{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 border-top-left-radius:25px;
 border-top-right-radius:25px;
 border-bottom-left-radius:25px;
 border-bottom-right-radius:25px;
}

/* Column 8/12 */
#contact .text-center{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 transform:translatex(0px) translatey(0px);
}

/* Button */
#contact .justify-content-center .text-uppercase{
 font-family:'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
 border-top-left-radius:25px;
 border-top-right-radius:25px;
 border-bottom-left-radius:25px;
 border-bottom-right-radius:25px;
}

@media (max-width:767px){

 /* Image */
 #description img{
  display:inline-block;
  transform:translatex(0px) translatey(252px);
  height:198px;
 }
 
 /* Description */
 #description{
  padding-top:187px;
 }
 
}
