/* Global Styles */
body {
    font-family: 'Montserrat', 'Kaushan Script', 'Droid Serif', 'Roboto Slab', sans-serif;
    padding-top: 50px; /* Adjusted value based on your navbar height */
}

@media (min-width: 800px) {
    body {
        padding-top: 70px; /* Adjust for larger screens if navbar height is different */
    }
}

.navbar,
.navbar-nav .nav-link,
#mainNav {
    background-color: rgba(0,49,53,255); /* Background color with 80% opacity */
    color: rgb(255, 255, 255) !important; /* Set font color to white */
}

.navbar-brand img {
    margin-right: 5px;
}

/* Landing Section */
.masthead {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.masthead-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    z-index: 1;
    padding: 20px;
}

.masthead-logo {
    width: 200px;
    margin: 0 10px 3px;
    border-radius: 50%;
}

.textlanding,
.list-inline {
    text-align: left;
    max-width: 600px;
    list-style: none;
    padding: 0;
}

.logos {
    font-size: 2em; /* Increase the size of the icons */
    color: #69b3a2; /* Set icon color */
    margin: 0 10px; /* Add some space around icons */
}

/* Timeline Section */
#timeline {
    background-color: rgba(4,73,81,255);
    color: rgba(4,73,81,255);
    padding-top: 2%;
    padding-bottom: 2%;
}

#timeline text {
    fill: white;
}

#timeline line {
    stroke: rgba(150,72,52,255);
}

#timeline circle {
    fill: rgba(150,72,52,255);
    stroke: rgba(150,72,52,255);
}

/* Portfolio Section */
.explanation_portfolio {
    font-size: 14px;
    margin: 20px;
}

.sepration .portfolio-item {
    margin-bottom: 20px; /* Adjust as needed */
}

.portfolio-item .portfolio-hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14,164,176,255);
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.portfolio-item:hover .portfolio-hover-content {
    display: block;
}

.portfolio-item a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
}

/* Testimonial Section */
#testimonial {
    background-color: rgba(14, 164, 176, 255);
    color: rgba(0, 49, 53, 255);
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 250px;
}

#testimonial img {
    margin-top: 30px;
    border-radius: 75px;
    width: 200px; /* Limit the maximum width of the images */
    height: 200px;

}

#testimonial p {
    font-size: 18px;
    line-height: 1.5; /* Adjust the line height for better readability */
}

#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    width: 30px; /* Adjust the width of the control buttons */
    height: 30px; /* Adjust the height of the control buttons */
    font-size: 24px; /* Adjust the font size of the control buttons */
    background-color: rgba(255, 255, 255, 0.5); /* Change the background color of the control buttons */
    color: rgba(0, 49, 53, 255); /* Change the color of the control buttons */
    border-radius: 50%; /* Make the control buttons circular */
    top: 50%; /* Position the control buttons vertically centered */
    transform: translateY(-50%); /* Center the control buttons vertically */
}

#testimonial .carousel-control-prev {
    left: -30px; /* Adjust the position of the left control button */
}

#testimonial .carousel-control-next {
    right: -80px; /* Adjust the position of the right control button */
}

#testimonial .carousel-indicators {
    bottom: 10px; /* Adjust the position of the carousel indicators */
}

#testimonial .carousel-indicators li {
    width: 2px; /* Adjust the width of the carousel indicators */
    height: 2px; /* Adjust the height of the carousel indicators */
    border-radius: 50%; /* Make the carousel indicators circular */
    background-color: rgba(255, 255, 255, 0.5); /* Change the background color of the carousel indicators */
    margin-right: 5px; /* Add spacing between the carousel indicators */
    margin-left: 5px; /* Add spacing between the carousel indicators */
}

#testimonial .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1); /* Change the background color of the active carousel indicator */
}





/* Contact Section */
.contact-section {
    padding-top: 10;
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.contact-left {
    background-color: rgba(4,73,81,255);
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%; /* 25% width */
    text-align: center;
    min-height: 100px; /* Ensures some minimum height */
}

.contact-right {
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 75%; /* 75% width */
    text-align: left;
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box;
}

.contact-content {
    padding: 20px;
    color: rgba(4,73,81,255);
    width: 100%;
}

.contact-link {
    color: rgba(4,73,81,255);
    text-decoration: none;
    margin-right: 10px; /* Space between icons and text */
}

.contact-link i {
    margin-right: 5px; /* Space between icon and text */
}

.contact-link:hover {
    text-decoration: underline; /* Underline on hover for better visibility */
}





/* Footer Section */
.footer-section .container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-wrap: wrap;
    text-align: center; /* Ensure text is centered */
}

.footer-section .row {
    width: 100%;
}

.footer-section .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer-section .social-buttons .social-link,
.footer-section .quicklinks .quicklink {
    color: #343a40; /* Example text color */
    text-decoration: none;
}

.footer-section .social-buttons .social-link:hover,
.footer-section .quicklinks .quicklink:hover {
    color: #007bff; /* Example hover color */
}




/* Modal Styles */
.modal-dialog {
    max-width: 60vw; /* Set maximum width of modal dialog */
}

.modal-body {
    text-align: left;
}

.modal-body img {
    width: 80%;
    max-width: 80%;
    
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Portfolio Modal Specific Styles */
.portfolio-modal.modal {
    z-index: 1050; /* Ensure modal appears on top of other content */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds modal height */
}


@media screen and (max-width:600px)
{

/* Navbar toggler right */
#mainNav .navbar-toggler-right{
    color:#ffffff;
   }
   
   /* Link */
   .textlanding .social-buttons a{
    padding-bottom:6px;
   }
   
   /* Masthead content */
   .masthead .masthead-content{
    padding-left:34px;
    padding-top:77px;
   }
   
   /* Timeline */
   #timeline{
    width:100%;
    display:inline-block;
    transform:translatex(0px) translatey(0px) !important;
   }
   
   /* Contact content */
   #contact .container-fluid .row .contact-right .contact-content{
    width:100% !important;
   }
   
   /* Column 9/12 */
   #contact .contact-right{
    top:186px;
    left:156px;
   }
   
   /* Column 3/12 */
   #contact .contact-left{
    top:362px;
    left:-33px;
    min-width:214px;
    height:154px;
    width:171px;
   }
   
   /* Span Tag */
   .footer-section span{
    position:relative;
    top:148px;
   }
   
   /* Column 4/12 */
   .footer-section .text-center{
    top:86px;
   }
   
   /* Row */
   .footer-section .row{
    position:relative;
    top:37px;
   }
   
  }
    
        /* Global Styles */
        body {
            padding-top: 30px; /* Adjusted value for smaller screens */
        }
        .masthead-logo {
            width: 150px; /* Decrease the size of the logo */
        }
        .textlanding,
        .list-inline {
            max-width: 400px; /* Decrease the max-width of the text and list */
        }
        .logos {
            font-size: 1.5em; /* Decrease the size of the icons */
        }
        /* Portfolio Section */
        .explanation_portfolio {
            font-size: 12px; /* Decrease the font size of the explanation */
        }
        /* Testimonial Section */
        #testimonial p {
            font-size: 16px; /* Decrease the font size of the testimonial text */
        }
        #testimonial .carousel-control-prev {
            left: -30px; /* Adjust the position of the left arrow key */
            width: 70px;
            height: 70px;
        }
        #testimonial .carousel-control-next {
            right: -70px; /* Adjust the position of the right arrow key */
            width: 70px;
            height: 70px;
        }
        /* Contact Section */
        .contact-content {
            padding: 20px; /* Decrease the padding of the contact content */
        }
        /* Footer Section */
        .footer-section {
            padding-bottom: 30px; /* Decrease the bottom padding of the footer */
            padding-top: 30px; /* Decrease the top padding of the footer */
        }
        /* Modal Styles */
        .modal-body {
            padding: 20px; /* Decrease the padding of the modal body */
        }
        .close-modal {
            top: 15px; /* Adjust the position of the close button */
            right: 15px; /* Adjust the position of the close button */
        }
        .close-modal .lr {
            width: 50px; /* Decrease the width of the close button */
            height: 50px; /* Decrease the height of the close button */
        }
        .close-modal .lr .rl {
            width: 20px; /* Decrease the width of the close button */
            height: 20px; /* Decrease the height of the close button */
        }
        /* Additional Styles */
        .objective h6 {
            margin-bottom: 5px; /* Decrease the margin bottom of the objective heading */
        }
        .objective p,
        .project-details p {
            margin-bottom: 5px; /* Decrease the margin bottom of the paragraphs */
        }
        .objective img,
        .project-details img {
            margin-top: 10px; /* Decrease the margin top of the images */
            margin-bottom: 10px; /* Decrease the margin bottom of the images */
        }
        .links,
        .contact-links,
        .additional-links {
            margin-top: 3px; /* Decrease the margin top of the links */
        }
        .contact-links {
            margin-top: 10px; /* Decrease the margin top of the contact links */
        }
        /* Styles for American Sign Language (ASL) Project */
        .project-structure {
            margin-top: 10px; /* Decrease the margin top of the project structure */
        }
        .project-structure .section {
            margin-bottom: 10px; /* Decrease the margin bottom of the sections */
        }
        /* Styles for Warner Bros Studio Analysis */
        .project-details {
            text-align: center; /* Center align the project details */
        }
        .project-details img {
            width: 80%; /* Decrease the width of the images */
        }
        /* Styles for Aditya Patel's Portfolio Website Journey */
        .project-details {
            text-align: center; /* Center align the project details */
        }
        .contact-links {
            margin-top: 10px; /* Decrease the margin top of the contact links */
        }
        /* Styles for Weather Forecasting project */
        .project-details {
            text-align: center; /* Center align the project details */
        }
        .contact-links {
            margin-top: 10px; /* Decrease the margin top of the contact links */
        }
    }


